/* @import "tailwindcss"; */
@import "tailwindcss";

@theme {
  --color-primary-text: #1d293d;
  --color-primary-border: color-mix(in oklab, var(--color-slate-900) /* oklch(20.8% 0.042 265.755) = #0f172b */ 10%, transparent);
  --color-primary-modal: color-mix(in oklab, var(--color-white) 75%, transparent);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}


/*
 ========== FONTS ==============================
*/

@font-face {
    font-family: 'Aritta';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.aritta-font {
  font-family: 'Aritta', sans-serif;
}

@font-face {
    font-family: 'Joseon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.joseon-font {
  font-family: 'Joseon', sans-serif;
}